.git
.github
.vscode

node_modules
**/node_modules

.next
**/.next
dist
**/dist
build
**/build
coverage
**/coverage

test-results
**/test-results
playwright-report
**/playwright-report

.env
**/.env
*.log

README.md
docs
**/docs
screenshots
**/screenshots